<?xml version="1.0"?>
<config>
  <modules>
    <Conekta_Oxxo>
      <version>0.9.6</version>
    </Conekta_Oxxo>
  </modules>
  <adminhtml>
    <translate>
      <modules>
        <Conekta_Oxxo>
          <files>
            <default>Conekta_Oxxo.csv</default>
          </files>
        </Conekta_Oxxo>
      </modules>
    </translate>
  </adminhtml>
  <frontend>
    <translate>
      <modules>
        <Conekta_Oxxo>
          <files>
            <default>Conekta_Oxxo.csv</default>
          </files>
        </Conekta_Oxxo>
      </modules>
    </translate>
    <routers>
      <oxxo>
        <use>standard</use>
        <args>
          <module>Conekta_Oxxo</module>
          <frontName>oxxo</frontName>
        </args>
      </oxxo>
    </routers>
    <layout>
      <updates>
        <oxxo>
          <file>oxxo.xml</file>
        </oxxo>
      </updates>
    </layout>
  </frontend>
  <global>
   <events>
     <sales_order_payment_place_start>
       <observers>
         <oxxo>
           <class>oxxo/observer</class>
           <method>processPayment</method>
         </oxxo>
       </observers>
     </sales_order_payment_place_start>
 </events>
 <fieldsets>
   <sales_convert_quote_payment>
    <oxxo_barcode_url>
     <to_order_payment>*</to_order_payment>
   </oxxo_barcode_url>
   <oxxo_barcode>
     <to_order_payment>*</to_order_payment>
   </oxxo_barcode>
   <oxxo_expiry_date>
     <to_order_payment>*</to_order_payment>
   </oxxo_expiry_date>
   <charge_id>
     <to_order_payment>*</to_order_payment>
   </charge_id>
 </sales_convert_quote_payment>
</fieldsets>
<models>
  <oxxo>
    <class>Conekta_Oxxo_Model</class>
    <resourceModel>oxxo_mysql4</resourceModel>
  </oxxo>
  <oxxo_mysql4>
    <class>Conekta_Oxxo_Model_Mysql4</class>
    <entities>
      <oxxo>
        <table>oxxo</table>
      </oxxo>
    </entities>
  </oxxo_mysql4>
</models>
<resources>
  <oxxo_setup>
    <setup>
      <module>Conekta_Oxxo</module>
    </setup>
    <connection>
      <use>core_setup</use>
    </connection>
  </oxxo_setup>
  <oxxo_write>
    <connection>
      <use>core_write</use>
    </connection>
  </oxxo_write>
  <oxxo_read>
    <connection>
      <use>core_read</use>
    </connection>
  </oxxo_read>
</resources>
<blocks>
  <oxxo>
    <class>Conekta_Oxxo_Block</class>
  </oxxo>
</blocks>
<helpers>
  <oxxo>
    <class>Conekta_Oxxo_Helper</class>
  </oxxo>
</helpers>
</global>
<default>
  <payment>
    <oxxo>
      <active>1</active>
      <model>oxxo/oxxo</model>
      <order_status>pending</order_status>
      <webhook_notification_order_status>processing</webhook_notification_order_status>
      <expiry_date></expiry_date>
      <title>Oxxo Payment Method</title>
      <sort_order>0</sort_order>
    </oxxo>
  </payment>
</default>
</config>
