<?xml version="1.0"?>
<config>
  <modules>
    <Conekta_Card>
      <version>0.9.6</version>
    </Conekta_Card>
  </modules>
  <adminhtml>
    <translate>
      <modules>
        <Conekta_Card>
          <files>
            <default>Conekta_Card.csv</default>
          </files>
        </Conekta_Card>
      </modules>
    </translate>
  </adminhtml>
  <frontend>
    <translate>
      <modules>
        <Conekta_Card>
          <files>
            <default>Conekta_Card.csv</default>
          </files>
        </Conekta_Card>
      </modules>
    </translate>
    <routers>
      <card>
        <use>standard</use>
        <args>
          <module>Conekta_Card</module>
          <frontName>card</frontName>
        </args>
      </card>
    </routers>
    <layout>
      <updates>
        <card>
          <file>card.xml</file>
        </card>
      </updates>
    </layout>
  </frontend>
  <global>
   <events>
     <sales_order_payment_place_start>
       <observers>
         <card>
           <class>card/observer</class>
           <method>processPayment</method>
         </card>
       </observers>
     </sales_order_payment_place_start>
   </events>
   <fieldsets>
     <sales_convert_quote_payment>
      <cc_owner>
       <to_order_payment>*</to_order_payment>
     </cc_owner>
     <cc_last4>
       <to_order_payment>*</to_order_payment>
     </cc_last4>
     <cc_type>
       <to_order_payment>*</to_order_payment>
     </cc_type>
     <card_token>
       <to_order_payment>*</to_order_payment>
     </card_token>
     <card_bin>
       <to_order_payment>*</to_order_payment>
     </card_bin>
     <charge_authorization>
       <to_order_payment>*</to_order_payment>
     </charge_authorization>
     <charge_id>
       <to_order_payment>*</to_order_payment>
     </charge_id>
     <card_monthly_installments>
       <to_order_payment>*</to_order_payment>
     </card_monthly_installments>
   </sales_convert_quote_payment>
 </fieldsets>
 <models>
  <card>
    <class>Conekta_Card_Model</class>
    <resourceModel>card_mysql4</resourceModel>
  </card>
  <card_mysql4>
    <class>Conekta_Card_Model_Mysql4</class>
    <entities>
      <card>
        <table>card</table>
      </card>
    </entities>
  </card_mysql4>
</models>
<resources>
  <card_setup>
    <setup>
      <module>Conekta_Card</module>
    </setup>
    <connection>
      <use>core_setup</use>
    </connection>
  </card_setup>
  <card_write>
    <connection>
      <use>core_write</use>
    </connection>
  </card_write>
  <card_read>
    <connection>
      <use>core_read</use>
    </connection>
  </card_read>
</resources>
<blocks>
  <card>
    <class>Conekta_Card_Block</class>
  </card>
  <page>
    <rewrite>
      <html_head>Conekta_Card_Block_Page_Html_Head</html_head>
    </rewrite>
  </page>
</blocks>
<helpers>
  <card>
    <class>Conekta_Card_Helper</class>
  </card>
</helpers>
</global>
<default>
  <payment>
    <card>
      <active>1</active>
      <model>card/card</model>
      <order_status>pending</order_status>
      <webhook_notification_order_status>processing</webhook_notification_order_status>
      <title>Card Payment Method</title>
      <sort_order>0</sort_order>
    </card>
  </payment>
</default>
</config>
