<?xml version="1.0"?>
<config>
  <modules>
    <Conekta_Bank>
      <version>0.4.1</version>
    </Conekta_Bank>
  </modules>
  <frontend>
    <routers>
      <bank>
        <use>standard</use>
        <args>
          <module>Conekta_Bank</module>
          <frontName>bank</frontName>
        </args>
      </bank>
    </routers>
    <layout>
      <updates>
        <bank>
          <file>bank.xml</file>
        </bank>
      </updates>
    </layout>
  </frontend>
  <global>
    <events>
      <sales_order_payment_place_start>
        <observers>
          <bank>
            <class>bank/observer</class>
            <method>processPayment</method>
          </bank>
        </observers>
      </sales_order_payment_place_start>
    </events>
    <fieldsets>
      <sales_convert_quote_payment>
        <bank_service_name>
          <to_order_payment>*</to_order_payment>
        </bank_service_name>
        <bank_service_number>
          <to_order_payment>*</to_order_payment>
        </bank_service_number>
        <bank_expiry_date>
          <to_order_payment>*</to_order_payment>
        </bank_expiry_date>
        <bank_name>
          <to_order_payment>*</to_order_payment>
        </bank_name>
        <bank_reference>
          <to_order_payment>*</to_order_payment>
        </bank_reference>
        <charge_id>
          <to_order_payment>*</to_order_payment>
        </charge_id>
      </sales_convert_quote_payment>
    </fieldsets>
    <models>
      <bank>
        <class>Conekta_Bank_Model</class>
        <resourceModel>bank_mysql4</resourceModel>
      </bank>
      <bank_mysql4>
        <class>Conekta_Bank_Model_Mysql4</class>
        <entities>
          <bank>
            <table>bank</table>
          </bank>
        </entities>
      </bank_mysql4>
    </models>
    <resources>
      <bank_setup>
        <setup>
          <module>Conekta_Bank</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </bank_setup>
      <bank_write>
        <connection>
          <use>core_write</use>
        </connection>
      </bank_write>
      <bank_read>
        <connection>
          <use>core_read</use>
        </connection>
      </bank_read>
    </resources>
    <blocks>
      <bank>
        <class>Conekta_Bank_Block</class>
      </bank>
    </blocks>
    <helpers>
      <bank>
        <class>Conekta_Bank_Helper</class>
      </bank>
    </helpers>
  </global>
  <default>
    <payment>
      <bank>
        <active>1</active>
        <model>bank/bank</model>
        <order_status>pending</order_status>
        <webhook_notification_order_status>processing</webhook_notification_order_status>
        <title>Bank Payment Method</title>
      </bank>
    </payment>
  </default>
</config>
