<?xml version="1.0"?>
<config>
    <modules>
        <Conekta_Card>
            <version>0.1.0</version>
        </Conekta_Card>
    </modules>
    <frontend>
        <routers>
            <card>
                <use>standard</use>
                <args>
                    <module>Conekta_Card</module>
                    <frontName>card</frontName>
                </args>
            </card>
            <checkout>
                <args>
                <modules>
                <Conekta_Card before="Mage_Checkout">Conekta_Card</Conekta_Card>
                </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <card>
                    <file>card.xml</file>
                </card>
            </updates>
        </layout>
    </frontend>
    <global>
    	<fieldsets>
    		 <sales_convert_quote_payment>
				 <cc_last4>
    		 		<to_order_payment>*</to_order_payment>
    		 	</cc_last4>
    		 	<cc_owner>
    		 		<to_order_payment>*</to_order_payment>
    		 	</cc_owner>
    		 	<cc_exp_month>
    		 		<to_order_payment>*</to_order_payment>
    		 	</cc_exp_month>
    		 	<cc_exp_year>
    		 		<to_order_payment>*</to_order_payment>
    		 	</cc_exp_year>
    		 </sales_convert_quote_payment>
    	</fieldsets>
        <models>
            <card>
                <class>Conekta_Card_Model</class>
                <resourceModel>card_mysql4</resourceModel>
            </card>
            <card_mysql4>
                <class>Conekta_Card_Model_Mysql4</class>
                <entities>
                    <card>
                        <table>card</table>
                    </card>
                </entities>
            </card_mysql4>
        </models>
        <resources>
            <card_setup>
                <setup>
                    <module>Conekta_Card</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </card_setup>
            <card_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </card_write>
            <card_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </card_read>
        </resources>
        <blocks>
            <card>
                <class>Conekta_Card_Block</class>
            </card>
        </blocks>
        <helpers>
            <card>
                <class>Conekta_Card_Helper</class>
            </card>
        </helpers>
    </global>
    <default>
        <payment>
            <card>
                <active>1</active>
                <model>card/card</model>
                <order_status>processing</order_status>
                <title>Pago con Card</title>
                <message></message>
            </card>
         </payment>
    </default>
</config>
