<?xml version="1.0"?>
<config>
  <modules>
    <Conekta_Webhook>
      <version>0.4.1</version>
    </Conekta_Webhook>
  </modules>
  <frontend>
    <routers>
      <webhook>
        <use>standard</use>
        <args>
          <module>Conekta_Webhook</module>
          <frontName>webhook</frontName>
        </args>
      </webhook>
    </routers>
  </frontend>
  <global>
    <blocks>
      <adminhtml>
        <rewrite>
          <sales_order_view_tab_info>Conekta_Webhook_Block_Adminhtml_Sales_Order_View_Tab_Info</sales_order_view_tab_info>
        </rewrite>
      </adminhtml>
    </blocks>
  </global>
  <default>
  </default>
</config>
