<?xml version="1.0" encoding="UTF-8"?>
<config>
 <sections>
  <payment>
    <groups>
      <webhook translate="label" module="webhook">
        <label>Conekta Account Configuration</label>
        <frontend_type>text</frontend_type>
        <sort_order>0</sort_order>
        <show_in_default>1</show_in_default>
        <show_in_website>1</show_in_website>
        <show_in_store>1</show_in_store>
        <fields>
          <url translate="label">
            <label>URL</label>
            <frontend_type>text</frontend_type>
            <frontend_model>webhook/adminhtml_system_config_url</frontend_model>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>0</show_in_store>
          </url>
          <privatekey translate="label">
            <label>Private Key</label>
            <frontend_type>text</frontend_type>
            <sort_order>6</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
          </privatekey>
          <publickey translate="label">
            <label>Public Key</label>
            <frontend_type>text</frontend_type>
            <sort_order>7</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
          </publickey>
          <signature_key translate="label">
            <label>Signature Key</label>
            <frontend_type>textarea</frontend_type>
            <sort_order>8</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
          </signature_key>
        </fields>
      </webhook>
    </groups>
  </payment>
</sections>
</config>
