<?xml version="1.0"?>
<config>
    <modules>
        <Conekta_Banco>
            <version>0.1.0</version>
        </Conekta_Banco>
    </modules>
    <frontend>
        <routers>
            <banco>
                <use>standard</use>
                <args>
                    <module>Conekta_Banco</module>
                    <frontName>banco</frontName>
                </args>
            </banco>
            <checkout>
                <args>
                <modules>
					<Conekta_Banco before="Mage_Checkout">Conekta_Banco</Conekta_Banco>
                </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <banco>
                    <file>banco.xml</file>
                </banco>
            </updates>
        </layout>
    </frontend>
    <global>
    	<fieldsets>
    		 <sales_convert_quote_payment>
				 <numero_servicio>
    		 		<to_order_payment>*</to_order_payment>
    		 	</numero_servicio>
    		 	<nombre_servicio>
    		 		<to_order_payment>*</to_order_payment>
    		 	</nombre_servicio>
    		 	<referencia>
    		 		<to_order_payment>*</to_order_payment>
    		 	</referencia>
    		 	<banco>
    		 		<to_order_payment>*</to_order_payment>
    		 	</banco>
    		 </sales_convert_quote_payment>
    	</fieldsets>
        <models>
            <banco>
                <class>Conekta_Banco_Model</class>
                <resourceModel>banco_mysql4</resourceModel>
            </banco>
            <banco_mysql4>
                <class>Conekta_Banco_Model_Mysql4</class>
                <entities>
                    <banco>
                        <table>banco</table>
                    </banco>
                </entities>
            </banco_mysql4>
        </models>
        <resources>
            <banco_setup>
                <setup>
                    <module>Conekta_Banco</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </banco_setup>
            <banco_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </banco_write>
            <banco_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </banco_read>
        </resources>
        <blocks>
            <banco>
                <class>Conekta_Banco_Block</class>
            </banco>
        </blocks>
        <helpers>
            <banco>
                <class>Conekta_Banco_Helper</class>
            </banco>
        </helpers>
    </global>
    <default>
        <payment>
            <banco>
                <active>1</active>
                <model>banco/banco</model>
                <order_status>processing</order_status>
                <title>Pago con Banco</title>
                <message></message>
            </banco>
         </payment>
    </default>
</config>
