<?xml version="1.0"?>
<config>
    <modules>
        <Excellence_Custom>
            <version>0.1.0</version>
        </Excellence_Custom>
    </modules>
    <frontend>
        <routers>
            <custom>
                <use>standard</use>
                <args>
                    <module>Excellence_Custom</module>
                    <frontName>custom</frontName>
                </args>
            </custom>
        </routers>
        <layout>
            <updates>
                <custom>
                    <file>custom.xml</file>
                </custom>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<custom>
				<use>admin</use>
				<args>
					<module>Excellence_Custom</module>
					<frontName>custom</frontName>
				</args>
			</custom>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<custom>
					<file>custom.xml</file>
				</custom>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
        	<checkout>
	            <rewrite>
	                <type_onepage>Excellence_Custom_Model_Checkout_Type_Onepage</type_onepage>
	            </rewrite>
	        </checkout>
        </models>
        <resources>
            <custom_setup>
                <setup>
                    <module>Excellence_Custom</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </custom_setup>
            <custom_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </custom_write>
            <custom_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </custom_read>
        </resources>
        <blocks>
        	<checkout>
        		<rewrite>
        			<onepage>Excellence_Custom_Block_Checkout_Onepage</onepage>
        		</rewrite>
        	</checkout>
            <custom>
                <class>Excellence_Custom_Block</class>
            </custom>
        </blocks>
        <helpers>
            <custom>
                <class>Excellence_Custom_Helper</class>
            </custom>
        </helpers>
    </global>
</config>
