<?xml version="1.0"?>
<config>
    <modules>
        <Excellence_Custom>
            <version>0.1.0</version>
        </Excellence_Custom>
    </modules>
    <frontend>
        <routers>
            <custom>
                <use>standard</use>
                <args>
                    <module>Excellence_Custom</module>
                    <frontName>custom</frontName>
                </args>
            </custom>
        </routers>
        <layout>
            <updates>
                <custom>
                    <file>custom.xml</file>
                </custom>
            </updates>
        </layout>
    </frontend>
    <global>
    	<rewrite>
	        <test_cart> <!--This can be any unique id -->
	            <from><![CDATA[#^/checkout/onepage/#]]></from>  <!-- the URL which u want to override-->
	            <to>/custom/onepage/</to>  <!-- destination url -->
	        </test_cart>
	    </rewrite>
    	<models>
        	<checkout>
	            <rewrite>
	                <type_onepage>Excellence_Custom_Model_Checkout_Type_Onepage</type_onepage>
	            </rewrite>
	        </checkout>
        </models>
        <blocks>
        	<checkout>
        		<rewrite>
        			<onepage>Excellence_Custom_Block_Checkout_Onepage</onepage>
        		</rewrite>
        	</checkout>
            <custom>
                <class>Excellence_Custom_Block</class>
            </custom>
        </blocks>
        <helpers>
            <custom>
                <class>Excellence_Custom_Helper</class>
            </custom>
        </helpers>
    </global>
</config>
